main {
  --bs-gutter-x: 0.5rem !important;
  padding-bottom: 10px;
}

.slider-container {
  position: relative;
  max-width: 2000px;
  margin-top: 20px;
  height: auto;
  overflow: hidden;
}

.slider-container .slider {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  --bs-gutter-x: 0.5rem;
  padding: 0;
  height: 550px;
}

@media (min-width: 600px) {
  .slider {
    width: 600px;
  }
}

.slider-container .slides {
  position: absolute;
  display: flex;
  width: 100%;
  height: 500px;
  box-shadow: 0px 1px 9px 1px rgb(0 0 0 / 18%);
}

.slides .slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  display: none;
}

img.displaySlide{
  display: block;
  animation: fade 0.5s;
}

.slider button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: transparent;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
  color: white;
  border: none;
  cursor: pointer;
}

.previous{
  left: 0;  
}
.next {
  right: 0;
}
@keyframes fade {
  from {opacity: .5;}
  to{opacity: 1;}
}

.slider .container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 50px;
  max-width: 2000px;
  margin: 0;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.catagories {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 25px;
  background: white;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 1px 10px 1px rgb(0 0 0 / 18%);
}

.catagories .section{
  position: relative;
  height: 400px;
  width: 150px;
  flex: 1 1 calc(150px - 10px); 
  max-width: calc(33.33% - 10px);
  border: none;
  overflow: hidden;
  filter: blur();
  transition:  ease-in-out .5s;
  margin-bottom: 20px;
}

.section img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section:hover {
  box-shadow: -1px 1px 20px 0px rgb(0 0 0 / 33%);
  filter: none;
}


.information{
  display: flex;
  justify-content: center;
  background: #23424A;
}

.information h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: beige;
}

#item-container {
  position: relative;
  background: white;
  overflow: hidden;
  margin-bottom: 25px;
}

.item-container {
  position: relative;
  display: flex;
  background: white;
  padding: 5px;
  overflow-x: visible;
  transition: 2s ease-in-out;
}

.item-container .items {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

.items img {
  flex: 1 1 calc(25% - 16px);
  max-width: calc(25% - 16px);
}

.item-prev{
  position: absolute;
  top: 50%;
  left: -1;
  z-index: 1;
  width: 50px;
}

.item-next{
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  width: 50px;
}

.space {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.space .image {
  position: relative;
  display: flex;
  background: white;
  padding: 5px 0px;
  flex: 1;
  width: 100%;
}

.space img {
  width: 100%;
}



